<h1>Raffler</h1>

<div ng-controller="RaffleCtrl">
  <p>
    <label for="query"> Search
    <input type="text" id="query" ng-model="query.name">
    <span ng-show="query.name">
      Searching for "{{query.name}}"
      Found {{(entries | filter:query).length}} results.
    </span>
  </p>

  <form ng-submit="addEntry()">
    <input type="text" ng-model="newEntry.name">
  </form>

  <ul>
    <li ng-repeat="entry in entries | filter:query">
      <span ng-class="{highlight: entry == lastWinner}">
        <img class="avatar" ng-src="{{entry.avatar_url}}">
        {{entry.name}}
        <span ng-show="entry.winner" class="winner">Winner</span>
      </span>
    </li>
  </ul>

  <button ng-click="drawWinner()">Draw Winner</button>
  <button ng-click="resetWinners()">Reset Winners</button>
</div>
